* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f5;
    margin: 5vh 20vw;
    overflow: hidden;
    max-height: 90vh;
    height: 90vh;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.side-bar {
    display: flex;
    flex-direction: column;
    margin-right: 2%;
    max-height: 84vh;
    height: 85vh;
}

.card {
    background-color: #fff;
    border-radius: 10px;
}

.card + .card {
    margin-top: 5%;
}

.job-list {
    flex-grow: 70;
    padding: 0;
    overflow-y: scroll;
}

.job-list > div {
    padding: 0;
}

.job-list > div > div {
    padding: 20px;
}
.job-list > div > h1 {
    padding: 20px 20px 0 20px;
}

.nav-selected {
    background-color: #e0e0e0
}

.contact-content {
    white-space: nowrap;
    padding: 2vh 2vw;
}

.view-container {
    max-height: 85vh;
    height: 85vh;
    overflow-y: scroll;
}

.content {
    display: flex;
    flex-direction: column;
    max-height: 85vh;
    height: 85vh;
    padding: 2vh 2vw;
}

.content > p {
    white-space: normal;
}

.content > p + p {
    margin-top: 20px;
}