:root {
    /*TODO figure out how to get the theme applied globally... at present
       this should be in the theme css so it could be swapped out in future.
       However because this impacts the body color which is not defined by the
       js part of our code this must live here. It also means this color is
       static... I think it can be overridden in lower css but it will not
       impact the body.*/
    --deep-back-color: #f5f5f5;
}

body {
    background-color: var(--deep-back-color);
    margin: 5vh 15vw;
    overflow: hidden;
    max-height: 90vh;
    height: 90vh;
    display: flex;
    flex-direction: column;
}